:root {
    --white: rgba(255, 255, 255, 1);
    --gray-200: rgba(229, 231, 235, 1);
    --text-base-regular-font-family: "Inter", Helvetica;
    --text-base-regular-font-weight: 400;
    --text-base-regular-font-size: 16px;
    --text-base-regular-letter-spacing: 0px;
    --text-base-regular-line-height: 24px;
    --text-base-regular-font-style: normal;
    --text-sm-medium-font-family: "Inter", Helvetica;
    --text-sm-medium-font-weight: 500;
    --text-sm-medium-font-size: 14px;
    --text-sm-medium-letter-spacing: 0px;
    --text-sm-medium-line-height: 20px;
    --text-sm-medium-font-style: normal;
    --shadow-base: 0px 1px 2px 0px rgba(31, 41, 55, 0.08);
}
